/*navbar styles*/

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border: 0px;
  border-bottom: #f0f1f3;
  border-bottom-width: 1.25px;
  border-style: solid;
  height: 63px;
  position: fixed;
  width: 100%;
  background-color:white;
  z-index: 1;
}

.icons svg{
  fill: #757575;
}

h2{
  font-size: 22px;
  font-weight: 400;
  color:  #757575;
 padding-left: 4px;
}

.gb_Pc{
  padding-right: 4px;
  margin-left: 15px;
}

.logo-area{
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.search-area{
  width: 720px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  background-color: #f1f3f4;
  border-radius: 8px;
  margin-right: 100px;
  padding: 5px;
}

.search-area input{
  width: calc(720px - 47px);
  padding-bottom: 2px;
  border: 0px;
  background-color: #f1f3f4;
  margin-left: 5px;
  font-size: 18px;
}

.search-area div{
 margin: 5px;
}

.search-area input:focus{
  outline:none;
}

.icons{
 position:relative;
 display: inline-block;
 height: 40px;
 width: 40;
 padding: 8px;
 cursor: pointer;
}

.icons:hover {
  background-color: #e5e5e5;
  background-size: 47px;
  background-image:  #f1f3f4;
  border-radius: 50%;
}

.tooltip{
  visibility: hidden;
  bottom: -30px;
  left: -11px;
  white-space: nowrap;
  background-color: rgb(23, 22, 22);
  font-size: 0.8rem;
  color: white;
  opacity: 0.7;
  padding: 4.5px 7.5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}
/* fix the tooltip*/
.icons:hover .tooltip{
 visibility: visible;
}